@font-face {
  font-family: spotify-regular;
  src: url(font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
  font-family: spotify-bold;
  src: url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

@font-face {
  font-family: spotify-title;
  src: url(font/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
  color: #fff;
  font-size: 16px;
}

header {
  background-color: #000000;
  height: 56px;
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-mobile-view {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: 16px;
}

.header-mobile-logo {
  display: flex;
  align-items: center;
}

.header-mobile-menu-wrapper {
  display: flex;
}

.header-mobile-button {
  font-family: spotify-bold;
  font-size: 13px;
  font-weight: 700;
  border-radius: 50px;
  min-block-size: 32px;
  padding-inline: 16px;
  border: none;
}

.header-mobile-menu-icon {
  background: transparent;
  border: none;
  margin-inline-start: 16px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-desktop-view {
  display: none;
}

.spotify-content-container {
  margin-top: 63px;
  padding-bottom: 70px;
  gap: 8px;
}

.songs-heading-wrapper {
  padding-inline: 16px;
  padding-top: 24px;
  margin-bottom: 12px;
}

.playlist-container-heading {
  font-size: 20px;
  font-family: spotify-title;
}

.songs-show-link {
  display: none;
}

.songs-list {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.songs-card {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px;
}

.songs-card:first-child {
  margin-inline-start: 8px;
}

.songs-card:last-child {
  margin-inline-end: 8px;
}

.songs-card img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 4px;
  height: 152px;
  width: 152px;
}

.songs-details-para {
  font-family: spotify-regular;
  font-weight: 400;
  text-overflow: ellipsis;
}

.side-navigation-bar {
  display: none;
}

.songs-details {
  display: none;
}

@media screen and (min-width: 960px) {
  body {
    background-color: #000000;
  }

  header {
    height: 64px;
    padding: 0;
  }

  .header-mobile-view {
    display: none;
  }

  .header-desktop-view {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
  }

  .header-desktop-logo {
    display: flex;
    align-items: center;
    margin: 20px;
  }

  .desktop-home-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 546px;
    width: 100%;
  }

  .desktop-home-button {
    background-color: #1f1f1f;
    border: none;
    padding: 12px;
    margin-left: 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
  }

  .desktop-search-button {
    background-color: #1f1f1f;
    border: none;
    padding: 12px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-inline: 8px;
  }

  .desktop-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    width: 100%;
  }

  .desktop-premium-link {
    padding-block: 8px;
    color: #b3b3b3;
    min-block-size: 48px;
    font-family: spotify-bold;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .desktop-premium-link:nth-child(3) {
    padding-right: 16px;
  }

  .desktop-install-button {
    padding: 2px 16px 2px 36px;
    display: flex;
    gap: 8px;
    border-left: 1px solid;
  }

  .desktop-install-button a {
    font-family: spotify-bold;
    font-size: 14px;
    font-weight: 700;
    color: #b3b3b3;
    display: flex;
    text-wrap: nowrap;
    text-decoration: none;
  }

  .desktop-sign-up-wrapper {
    display: flex;
    align-items: center;
  }

  .desktop-sign-link {
    padding: 4px 16px 4px 8px;
    font-family: spotify-bold;
    font-size: 14px;
    font-weight: 700;
    color: #b3b3b3;
    display: flex;
    text-wrap: nowrap;
    text-decoration: none;
  }

  .desktop-login-button {
    text-wrap: nowrap;
    padding: 8px 32px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50px;
    min-block-size: 48px;
    font-family: spotify-bold;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
  }

  .desktop-input-container {
    display: none;
  }

  .spotify-search-bar-icon {
    display: none;
  }

  .spotify-content-container {
    display: flex;
    gap: 8px;
    margin-inline: 8px;
    gap: 8px;
  }

  .side-navigation-bar {
    display: flex;
    background-color: #121212;
    border-radius: 8px;
    flex-direction: column;
    min-width: 280px;
    height: 760px;
    overflow: hidden;
  }

  .side-navigation-content {
    display: flex;
    flex-direction: column;
  }

  .side-navigation-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 14px 8px 16px;
    align-items: center;
    color: #ffffff;
  }

  .library-heading {
    margin-inline-start: 4px;
    font-weight: 700;
    font-family: spotify-bold;
    font-size: 16px;
  }

  .library-heading-button {
    min-block-size: 35px;
    min-inline-size: 35px;
    background-color: transparent;
    border: 0;
    padding: 8px;
    display: flex;
    align-items: center;
  }

  .side-navigation-song {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px 8px;
    min-height: 100%;
    margin-top: 24px;
  }

  .side-navigation-songs-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #1f1f1f;
    border-radius: 8px;
    margin: 8px 0;
    padding: 16px 20px;
    gap: 20px;
  }

  .side-navigation-card-content {
    display: flex;
    gap: 8px;
    flex-direction: column;
  }

  .side-nav-card-content-heading {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    font-family: spotify-bold;
  }

  .side-nav-card-content-text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    font-family: spotify-regular;
  }

  .side-navigation-card-button {
    font-weight: 700;
    font-size: 14px;
    font-family: spotify-bold;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    border: 0;
    padding: 4px 16px;
    min-block-size: 32px;
  }

  .songs-content-wrapper {
    overflow: auto;
    background-color: #121212;
    border-radius: 8px;
    height: 760px;
  }

  .songs-content {
    overflow: hidden !important;
    overflow-y: scroll !important;
    padding: 0px 0px 32px;
    scrollbar-width: none;
  }

  .songs-heading-wrapper {
    padding-inline: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
  }

  .playlist-container-heading {
    font-size: 24px;
  }

  .songs-show-link {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 700;
    font-family: spotify-bold;
    font-size: 14px;
    margin-top: 2px;
    margin-inline-end: 8px;
    display: flex;
    position: relative;
    top: 1px;
  }

  .songs-scroll {
    margin-bottom: 10px;
  }

  .songs-card {
    padding: 12px;
  }

  .songs-card:first-child {
    margin-inline-start: 28px;
  }

  .songs-card img {
    height: 153.72px;
    width: 153.72px;
  }

  .artist-img {
    border-radius: 90px !important;
  }

  .songs-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .songs-details-para {
    font-family: spotify-regular;
    font-size: 16px;
    font-weight: 400;
  }

  .songs-details {
    display: flex;
    flex-wrap: wrap;
    font-family: spotify-regular;
    font-size: 14px;
    color: #b3b3b3;
    line-height: 22px;
  }

  .artist-name {
    color: #b3b3b3;
    text-decoration: none;
  }

  .songs-details-name {
    display: none;
  }
}

@media screen and (min-width: 1069px) {
  .desktop-search-button {
    width: 100%;
    padding-right: 16px;
    padding-top: 11px;
    max-width: 474px;
  }

  .desktop-search-img {
    padding-inline-end: 12px;
    position: relative;
    top: 1px;
  }

  .desktop-input-container {
    display: flex;
    width: 100%;
  }

  .desktop-search-button input {
    display: block;
    background-color: transparent;
    border: none;
    width: 100%;
    padding-inline-end: 8px;
  }

  .desktop-search-button input::placeholder {
    font-family: spotify-regular;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #b3b3b3;
  }

  .spotify-search-bar-icon {
    display: block;
    border-inline-start: 1px solid #7c7c7c;
    padding-inline: 12px 0;
    height: 25.05px;
  }
}

@media screen and (min-width: 1440px) {
  .side-navigation-bar {
    min-width: 420px;
  }
}

@media screen and (min-width: 1723px) {
  .header-desktop-view {
    justify-content: space-between;
  }

  .desktop-home-search {
    max-width: 100%;
    position: absolute;
    left: 0;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .desktop-menu-container {
    width: fit-content;
  }

  .side-navigation-bar {
    height: 848px;
  }

  .songs-content-wrapper {
    height: 848px;
  }
}

@media screen and (min-width: 2560px) {
  .side-navigation-bar {
    height: 1364px;
  }

  .songs-content-wrapper {
    height: 1364px;
  }
}
