@font-face {
  font-family: spotify-regular;
  src: url(font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
  font-family: spotify-bold;
  src: url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

@font-face {
  font-family: spotify-title;
  src: url(font/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
  color: #fff;
  font-size: 16px;
}

header {
  background-color: #000000;
  height: 56px;
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-mobile-view {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: 16px;
}

.header-mobile-logo {
  display: flex;
  align-items: center;
}

.header-mobile-menu-wrapper {
  display: flex;
}

.header-mobile-button {
  font-family: spotify-bold;
  font-size: 13px;
  font-weight: 700;
  border-radius: 50px;
  min-block-size: 32px;
  padding-inline: 16px;
  border: none;
}

.header-mobile-menu-icon {
  background: transparent;
  border: none;
  margin-inline-start: 16px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-desktop-view {
  display: none;
}

.spotify-content-container {
  margin-top: 64px;
  padding-bottom: 92px;
  gap: 8px;
}

.songs-heading-wrapper {
  padding-inline: 16px;
  padding-top: 24px;
  margin-bottom: 12px;
}

.playlist-container-heading {
  font-size: 20px;
  font-family: spotify-title;
}

.songs-show-link {
  display: none;
}

.songs-list {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.songs-card {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px;
}

.songs-card:first-child {
  margin-inline-start: 8px;
}

.songs-card:last-child {
  margin-inline-end: 8px;
}

.songs-card img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 4px;
  height: 152px;
  width: 152px;
}

.songs-details-para {
  font-family: spotify-regular;
  font-weight: 400;
  text-overflow: ellipsis;
}

.footer-nav {
  padding: 8px 16px 40px;
  max-width: 100%;
}

.border-line-hr {
  padding-bottom: 32px;
  border: 0;
  border-block-start: 1px solid #dedede;
  border-color: rgba(255, 255, 255, 0.1);
}

.footer-wrapper {
  display: flex;
  flex-flow: column wrap;
  margin-top: 32px;
}

.footer-section {
  margin-right: 11px;
  margin-bottom: 32px;
}

.footer-section-ul {
  color: #b3b3b3;
  display: flex;
  flex-direction: column;
}

.footer-section-heading {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  font-family: spotify-bold;
  margin-bottom: 8px;
}

.footer-section-text {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-family: spotify-regular;
  margin-block-end: 8px;
  width: fit-content;
}

.footer-social-media {
  display: flex;
  margin-bottom: 40px;
  gap: 16px;
}

.footer-social-media-element {
  height: 40px;
  width: 40px;
  background-color: rgb(41, 41, 41);
  border: none;
  border-radius: 80px;
}

.border-line {
  margin-block-end: 21px;
  border: 0;
  border-block-start: 1px solid #dedede;
  border-color: rgba(255, 255, 255, 0.1);
}

.footer-bottom {
  padding-top: 16px;
}

.footer-bottom-container {
  text-align: start;
}

.footer-bottom-container-elements {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom-element {
  margin-right: 16px;
  margin-bottom: 8px;
}

.footer-bottom-element-link {
  text-decoration: none;
  border: none;
  color: #b3b3b3;
  font-family: spotify-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.footer-copy-right {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 400;
  font-family: spotify-regular;
  line-height: 19px;
}

.cookies-link {
  color: #ffffff;
  text-decoration: none;
  padding-inline-end: 16px;
}

.cookies-link span {
  font-family: spotify-regular;
  font-size: 12px;
  font-weight: 400;
}

.footer-language-selector {
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #7c7c7c;
  color: #fff;
  padding: 4px 16px 4px 36px;
  position: relative;
  min-block-size: 32px;
  font-size: 14px;
  font-family: spotify-bold;
  font-weight: 700;
  margin-top: 16px;
}

.footer-language-selector-img {
  position: absolute;
  inset-inline-start: 12px;
  bottom: 7px;
}

.navigation-panel {
  background: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9), #121212);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navigation-panel-button {
  height: 70px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: spotify-regular;
  font-size: 0.6875rem;
  font-weight: 400;
}

.navigation-panel-button img {
  height: 24px;
  width: 24px;
}

.navigation-panel-text {
  color: #b3b3b3;
}

.cookies-link {
  display: none;
}

.side-navigation-bar {
  display: none;
}

.songs-details {
  display: none;
}

.side-navigation-bottom-footer {
  display: none;
}

.footer-copy-right-desktop {
  display: none;
}

.footer-sign-up-bar {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
  }

  .footer-section {
    width: 40%;
    margin-right: 24px;
  }
}

@media screen and (min-width: 960px) {
  body {
    background-color: #000000;
    overflow: hidden;
  }

  header {
    height: 64px;
    padding: 0;
  }

  .header-mobile-view {
    display: none;
  }

  .header-desktop-view {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
  }

  .header-desktop-logo {
    display: flex;
    align-items: center;
    margin: 20px;
  }

  .desktop-home-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 546px;
    width: 100%;
  }

  .desktop-home-button {
    background-color: #1f1f1f;
    border: none;
    padding: 12px;
    margin-left: 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
  }

  .desktop-search-button {
    background-color: #1f1f1f;
    border: none;
    padding: 12px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-inline: 8px;
  }

  .desktop-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    width: 100%;
  }

  .desktop-premium-link {
    padding-block: 8px;
    color: #b3b3b3;
    min-block-size: 48px;
    font-family: spotify-bold;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .desktop-premium-link:nth-child(3) {
    padding-right: 16px;
  }

  .desktop-install-button {
    padding: 2px 16px 2px 36px;
    display: flex;
    gap: 8px;
    border-left: 1px solid;
  }

  .desktop-install-button a {
    font-family: spotify-bold;
    font-size: 14px;
    font-weight: 700;
    color: #b3b3b3;
    display: flex;
    text-wrap: nowrap;
    text-decoration: none;
  }

  .desktop-sign-up-wrapper {
    display: flex;
    align-items: center;
  }

  .desktop-sign-link {
    padding: 4px 16px 4px 8px;
    font-family: spotify-bold;
    font-size: 14px;
    font-weight: 700;
    color: #b3b3b3;
    display: flex;
    text-wrap: nowrap;
    text-decoration: none;
  }

  .desktop-login-button {
    text-wrap: nowrap;
    padding: 8px 32px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50px;
    min-block-size: 48px;
    font-family: spotify-bold;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
  }

  .desktop-input-container {
    display: none;
  }

  .spotify-search-bar-icon {
    display: none;
  }

  .spotify-content-container {
    display: flex;
    margin-inline: 8px;
    gap: 8px;
    padding-bottom: 0;
  }

  .side-navigation-bar {
    display: flex;
    background-color: #121212;
    border-radius: 8px;
    flex-direction: column;
    min-width: 280px;
    height: 760px;
    overflow: hidden;
    justify-content: space-between;
  }

  .side-navigation-content {
    display: flex;
    flex-direction: column;
  }

  .side-navigation-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 14px 8px 16px;
    align-items: center;
    color: #ffffff;
  }

  .library-heading {
    margin-inline-start: 4px;
    font-weight: 700;
    font-family: spotify-bold;
    font-size: 16px;
  }

  .library-heading-button {
    min-block-size: 35px;
    min-inline-size: 35px;
    background-color: #1f1f1f;
    border: 0;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 80px;
    flex-direction: column;
    justify-content: space-around;
    margin-inline-end: 2px;
  }

  .side-navigation-song {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px 8px;
    min-height: 100%;
    margin-top: 24px;
  }

  .side-navigation-songs-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #1f1f1f;
    border-radius: 8px;
    margin: 8px 0;
    padding: 16px 20px;
    gap: 20px;
  }

  .side-navigation-card-content {
    display: flex;
    gap: 8px;
    flex-direction: column;
  }

  .side-nav-card-content-heading {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    font-family: spotify-bold;
  }

  .side-nav-card-content-text {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    font-family: spotify-regular;
  }

  .side-navigation-card-button {
    font-weight: 700;
    font-size: 14px;
    font-family: spotify-bold;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    border: 0;
    padding: 4px 16px;
    min-block-size: 32px;
  }

  .side-navigation-bottom-footer {
    display: block;
    margin: 32px 0;
    padding: 0 24px;
  }

  .footer-bottom-container {
    margin-block-end: 31px;
  }

  .footer-bottom-container-elements {
    margin-block-start: 32px;
  }

  .footer-bottom-element-link {
    font-size: 11px;
    line-height: 21px;
  }

  .cookies-link {
    display: block;
  }

  .cookies-link span {
    line-height: 20px;
  }

  .footer-copy-right {
    display: none;
  }

  .footer-language-selector {
    margin: 0;
  }

  .songs-content-wrapper {
    overflow: auto;
    background-color: #121212;
    border-radius: 8px;
    height: 760px;
  }

  .songs-content {
    overflow: hidden !important;
    overflow-y: scroll !important;
    padding: 0px 0px 32px;
    scrollbar-width: none;
  }

  .songs-heading-wrapper {
    padding-top: 23px;
    padding-inline: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
  }

  .songs-list {
    margin-bottom: 11px;
  }

  .playlist-container-heading {
    font-size: 24px;
  }

  .songs-show-link {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 700;
    font-family: spotify-bold;
    font-size: 14px;
    margin-top: 2px;
    margin-inline-end: 8px;
    display: flex;
    position: relative;
    top: 1px;
  }

  .songs-scroll {
    margin-bottom: 10px;
  }

  .songs-card {
    padding: 12px;
  }

  .songs-card:first-child {
    margin-inline-start: 28px;
  }

  .songs-card img {
    height: 153.72px;
    width: 153.72px;
    border-radius: 6px;
  }

  .artist-img {
    border-radius: 90px !important;
  }

  .songs-details-wrapper {
    display: flex;
    flex-direction: column;
  }

  .songs-details-para {
    font-family: spotify-regular;
    font-size: 16px;
    font-weight: 400;
  }

  .songs-details {
    display: flex;
    flex-wrap: wrap;
    font-family: spotify-regular;
    font-size: 14px;
    color: #b3b3b3;
    line-height: 22px;
    margin-top: 4px;
  }

  .artist-name {
    color: #b3b3b3;
    text-decoration: none;
  }

  footer {
    padding-top: 17px;
  }

  .footer-nav {
    padding-top: 32px;
    padding-bottom: 40px;
  }

  .border-line {
    margin-bottom: 24px;
  }

  .footer-copy-right-desktop {
    display: block;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    font-family: spotify-regular;
    line-height: 19px;
    padding-top: 17px;
  }

  .footer-sign-up-bar {
    background-color: #000;
    grid-area: now-playing-bar;
    padding: 8px;
    z-index: 1;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    display: flex;
    justify-content: space-between;
    padding-block: 11px 7px;
    padding-inline: 15px 24px;
    align-items: center;
    margin: 8px;
  }

  .footer-sign-up-content {
    margin: 0 0 4px;
    color: #fff;
  }

  .footer-sign-up-heading {
    font-weight: 700;
    font-size: 14px;
    font-weight: 400;
    font-family: spotify-bold;
  }

  .footer-sign-up-text {
    font-weight: 400;
    font-size: 16px;
    font-family: spotify-regular;
  }

  .footer-sign-up-button {
    font-weight: 700;
    font-size: 16px;
    font-family: spotify-bold;
    display: flex;
    align-items: center;
    border-radius: 50px;
    min-block-size: 48px;
    padding-inline: 32px;
    color: #000;
    background-color: #fff;
    border: none;
  }

  .songs-details-name {
    display: none;
  }

  .navigation-panel {
    display: none;
  }

  .footer-bottom {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .footer-elements {
    display: flex;
    padding-inline: 16px;
  }

  .footer-wrapper {
    flex-flow: inherit;
  }

  .footer-social-media{
    margin-top: 32px;
  }

  .footer-bottom-last {
    padding-inline: 16px;
  }


}

@media screen and (min-width: 1069px) {
  .desktop-search-button {
    width: 100%;
    padding-right: 16px;
    padding-top: 11px;
    max-width: 474px;
  }

  .desktop-search-img {
    padding-inline-end: 12px;
    position: relative;
    top: 1px;
  }

  .desktop-input-container {
    display: flex;
    width: 100%;
  }

  .desktop-search-button input {
    display: block;
    background-color: transparent;
    border: none;
    width: 100%;
    padding-inline-end: 8px;
  }

  .desktop-search-button input::placeholder {
    font-family: spotify-regular;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #b3b3b3;
  }

  .spotify-search-bar-icon {
    display: block;
    border-inline-start: 1px solid #7c7c7c;
    padding-inline: 12px 0;
    height: 25.05px;
  }
}

@media screen and (min-width: 1440px) {
  .side-navigation-bar {
    min-width: 420px;
  }

  .library-heading-button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px 16px;
  }

  .library-heading-button-create {
    color: #fff;
    font-family: spotify-bold;
    font-size: 14px;
    font-weight: 700;
  }

  .footer-wrapper {
    flex: 1;
  }

  .footer-section {
    width: 20%;
  }



}

@media screen and (min-width: 1723px) {
  .header-desktop-view {
    justify-content: space-between;
  }

  .desktop-home-search {
    max-width: 100%;
    position: absolute;
    left: 0;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .desktop-menu-container {
    width: fit-content;
  }

  .side-navigation-bar {
    height: 848px;
  }

  .songs-content-wrapper {
    height: 848px;
    scrollbar-width: none;
  }

  .songs-list {
    margin-bottom: 18px;
  }

  .songs-card img {
    height: 171.5px;
    width: 171.5px;
  }
}

@media screen and (min-width: 2560px) {
  .side-navigation-bar {
    height: 1364px;
  }

  .songs-content-wrapper {
    height: 1364px;
  }
}
