@font-face {
    font-family: spotify-regular;
    src: url(font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
    font-family: spotify-bold;
    src: url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

@font-face {
    font-family: spotify-title;
    src: url(font/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    color: #fff;
    font-size: 16px;

}

header {
    background-color: #000000;
    height: 56px;
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-mobile-view {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: 16px;

}

.header-mobile-logo {
    display: flex;
    align-items: center;
}

.header-mobile-menu-wrapper {
    display: flex;
}

.header-mobile-button {
    font-family: spotify-bold;
    font-size: 13px;
    font-weight: 700;
    border-radius: 50px;
    min-block-size: 32px;
    padding-inline: 16px;
    border: none;
}

.header-mobile-menu-icon {
    background: transparent;
    border: none;
    margin-inline-start: 16px;
    position: relative;
    top: 1px;
}

.header-desktop-view {
    display: none;
}

@media screen and (min-width: 960px) {

    header {
        height: 64px;
        padding: 0;
    }

    .header-mobile-view {
        display: none;
    }

    .header-desktop-view {
        display: flex;
        align-items: center;
        padding: 8px;
        width: 100%;
    }

    .header-desktop-logo {
        display: flex;
        align-items: center;
        margin: 20px;
    }

    .desktop-home-search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 560px;
        width: 100%;
    }

    .desktop-home-button {
        background-color: #1f1f1f;
        border: none;
        padding: 12px;
        margin-left: 8px;
        border-radius: 50px;
        display: flex;
        align-items: center;
    }

    .desktop-search-section {
        padding-inline: 8px;
        width: 100%;
    }

    .desktop-search-button {
        background-color: #1f1f1f;
        border: none;
        padding: 12px;
        border-radius: 50px;
        display: flex;
        align-items: center;
    }

    .desktop-menu-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        flex-direction: row;
        width: 100%;
    }

    .desktop-premium-button {
        padding-block: 8px;
    }

    .desktop-premium-button a {
        color: #b3b3b3;
        min-block-size: 48px;
        font-family: spotify-bold;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
    }

    .vertical-line {
        height: 25px;
        width: 1px;
        background: #fff;
        margin: 16px;
    }

    .desktop-install-button {
        padding: 4px 16px 4px 36px;
        position: relative;
    }

    .desktop-install-button a {
        font-family: spotify-bold;
        font-size: 14px;
        font-weight: 700;
        color: #b3b3b3;
        display: flex;
        text-wrap: nowrap;
        text-decoration: none;
    }

    .desktop-install-button img {
        position: absolute;
        left: 12px;
        top: 6px;
    }

    .desktop-sign-up-wrapper {
        display: flex;
        align-items: center;
    }

    .desktop-sign-button {
        padding: 4px 16px 4px 8px;
    }

    .desktop-sign-button a {
        font-family: spotify-bold;
        font-size: 14px;
        font-weight: 700;
        color: #b3b3b3;
        display: flex;
        text-wrap: nowrap;
        text-decoration: none;
    }

    .desktop-login-button {
        text-wrap: nowrap;
        padding: 8px 32px;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 50px;
        min-block-size: 48px;
    }

    .desktop-login-button a {
        font-family: spotify-bold;
        font-size: 16px;
        font-weight: 700;
        color: #000;
        text-decoration: none;
    }

    .desktop-input-section {
        display: none;
    }

    .spotify-search-bar-icon {
        display: none;
    }

}

@media screen and (min-width: 1069px) {

    .desktop-search-section {
        transition: box-shadow .22s ease-in, background .22s ease-in, color .22s ease-in, -webkit-box-shadow .22s ease-in;
        max-width: 474px;
    }

    .desktop-search-button {
        width: 100%;
        padding-right: 16px;
        padding-top: 11px;
    }

    .desktop-search-img {
        padding-inline-end: 12px;
        position: relative;
        top: 1px;
    }    

    .desktop-input-container {
        display: flex;
        width: 100%;    
        position: relative;
        top: 2px;
    }

    .desktop-search-button input {
        display: block;
        background-color: transparent;
        border: none;
        width: 100%;
        padding-inline-end: 8px;
    }

    .desktop-search-button input::placeholder {
        font-family: spotify-regular;
        font-size: 16px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #b3b3b3;
    }

    .spotify-search-bar-icon {
        display: block;
        border-inline-start: 1px solid #7c7c7c;
        padding-inline: 12px 0;
        height: 25.05px;
    }

    .spotify-search-bar-icon img {

    }


}