@font-face {
    font-family: spotify-regular;
    src: url(font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
    font-family: spotify-bold;
    src: url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

@font-face {
    font-family: spotify-title;
    src: url(font/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    color: #fff;
    font-size: 16px;

}

header {
    padding-inline: 16px;
    background-color: #000000;
    height: 56px;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mobile-view {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-section {
    display: flex;
}

.header-button {
    font-family: spotify-bold;
    font-size: 13px;
    font-weight: 700;
    align-self: center;
    position: relative;
    background-color: #fff;
    border-radius: 9999px;
    color: #000;
    min-block-size: 32px;
    padding-block: 4px;
    padding-inline: 16px;
    border: none;
}

.header-three-line {
    background: transparent;
    border: none;
    margin-inline-start: 16px;
    position: relative;
    top: 1px;
}

.main-container {
    margin-top: 56px;
    position: relative;
    padding-bottom: 70px;
}

.product-section-heading {
    padding-inline: 16px;
    padding-top: 24px;
    margin-bottom: 12px;
}

.product-section-heading h2 {
    font-size: 20px;
    font-family: spotify-title;
}

.product-scroll {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.product-card {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px;
}

.product-card:first-child {
    margin-inline-start: 8px;
}

.product-card:last-child {
    margin-inline-end: 8px;
}

.product-card img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
    height: 152px;
    width: 152px;
}

.product-name {
    font-family: spotify-regular;
    font-weight: 400;
}

nav {
    padding: 8px 16px 40px;
    max-width: 100%;
}

.footer-div {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.footer-elements {
    display: flex;
    flex-direction: column;
}

.footer-element-section {
    list-style: none;
    margin-bottom: 32px;
    max-width: 100%;
}

.footer-list-heading {
    font-size: 16px;
    font-weight: 700;
    font-family: spotify-bold;
}

.footer-element-section li {
    font-family: spotify-regular;
    color: #b3b3b3;
    margin-block: 8px;
}

.social-media-section {
    margin-bottom: 40px;
    display: flex;
    gap: 16px;
}

.social-media {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 41);
}

hr {
    border-color: rgba(255, 255, 255, 0.1);
    border: 0;
    border-block-start: 1px solid #292929;
    margin-block-end: 20px;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
}

.footer-info-section {
    display: flex;
    flex-wrap: wrap;
}

.footer-info-items {
    margin-right: 16px;
    margin-bottom: 8px;
    margin-top: 2px;
    font-family: spotify-regular;
    font-size: 14px;
    color: #b3b3b3;
}

.footer-info-items span {
    margin-bottom: 8px;
}

.copy-right {
    font-family: spotify-regular;
    font-size: 14px;
    color: #b3b3b3;
}

.english-section {
    padding-top: 16px;
    padding-bottom: 22px;
}

.english-section button {
    padding: 6px 17px 6px 36px;
    border: 1px solid #7c7c7c;
    background-color: transparent;
    border-radius: 9999px;
    position: relative;
}

.english-section button img {
    position: absolute;
    left: 12px;
    top: 7px;
}

.english-section button span {
    color: #fff;
    font-family: spotify-bold;
    letter-spacing: -0.2px;
}

.footer-nav {
    display: flex;
    height: 70px;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9), #121212);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.home-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4px;
    color: #fff;
    flex: 1;
}

.footer-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4px;
    color: #fff;
    flex: 1;
}

.home-button span {
    font-family: spotify-regular;
    font-size: 11px;
    font-weight: 400;
}

.footer-button span {
    font-family: spotify-regular;
    font-size: 11px;
    font-weight: 400;
    color: #b3b3b3;
}

@media screen and (min-width: 768px) {

    .footer-elements {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-element-section {
        width: 40%;
        margin-right: 24px;
    }

}

@media screen and (min-width: 992px) {

    nav {
        padding-inline: 32px;
    }

    .footer-div {
        flex-direction: row;
    }

    .footer-elements {
        flex: 1 1 50%;
        padding-bottom: 0;
    }

    .footer-element-section {
        width: 20%;
    }

    .footer-navigation {
        flex-direction: row;
        padding-bottom: 21px;
    }

    .copy-right {
        padding-right: 16px;
    }

    .english-section {
        display: none;
    }

}

@media screen and (min-width: 1440px) {

    body {
        background-color: #000;
        /* display: grid; */
        gap: 8px;
        grid-template-columns: "top-banner top-banner top-banner"
            "global-nav global-nav global-nav"
            "left-sidebar main-view right-sidebar"
            "now-playing-bar now-playing-bar now-playing-bar";

        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr auto;
        min-height: 100%;
        /* padding: 8px; */
        position: relative;
        width: 100%;
    }

    header {
        height: calc(48px + 8px * 2);
        padding: 0;
    }

    .header-mobile-view {
        display: none;
    }

    .header-desktop-view {
        grid-area: top-banner / 1 / global-nav / -1;
        margin: calc(8px * -1);
        margin: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: calc(48px + 8px * 2);
        position: relative;
    }

    .spotify-logo {
        margin: 20px;
    }

    .spotify-search-section {
        display: flex;
        justify-content: flex-start;
        flex: 1;
        align-items: center;
        gap: 0;
        width: 100%;
    }

    .header-home-section {
        margin-inline-start: 8px;
        background-color: #1f1f1f;
        padding: 12px;
        border-radius: 9999px;
    }

    .header-search-section {
        padding-inline: 8px;
        position: relative;
        width: 100%;
    }

    





}